<div class="flex flex-col items-center justify-center min-h-screen bg-yellow-50">
  <h1 class="text-5xl font-extrabold text-green-700 mb-8">Goriluck сѓдсЃЏсЂ┐сЂЈсЂў</h1>
  <span class="text-7xl mb-4">­ЪдЇ­ЪЇї</span>
  <p class="text-lg mb-8 text-gray-700">
    сѓ┤сЃфсЃЕсЃЉсЃ»сЃ╝сЂїжЂІтІбсѓњтЇасЂє№╝Ђ<br>
    С╗іТЌЦсЂ«сЂѓсЂфсЂЪсЂ«сѓдсЃЏжЂІтІбсѓњсЃЂсѓДсЃЃсѓ»сЂЌсѓѕсЂє№╝Ђ
  </p>
  <%= link_to "сЂісЂ┐сЂЈсЂўсѓњт╝ЋсЂЈсѓдсЃЏ№╝Ђ", omikuji_path, class: "mt-6 text-green-700 hover:underline" %>
</div>