<div class="flex flex-col items-center min-h-full ">
  <div class="bg-yellow-50 rounded-2xl p-8 w-full max-w-4xl mx-auto text-center mt-12">
    <%= image_tag "omikuji.png", alt: "сЂісЂ┐сЂЈсЂўућ╗тЃЈ", class: "w-96 mb-8 rounded-2xl omikuji-shake-hover mx-auto" %>
    <span class="text-6xl mb-4">­ЪдЇ­ЪЇї­ЪдЇ­ЪЇї</span>
    <p class="text-2xl mb-8 text-gray-700">
      сѓ┤сЃфсЃЕсЃЉсЃ»сЃ╝сЂїжЂІтІбсѓњтЇасЂє№╝Ђ<br>
      С╗іТЌЦсЂ«сЂѓсЂфсЂЪсЂ«сѓдсЃЏжЂІтІбсѓњсЃЂсѓДсЃЃсѓ»сЂЌсѓѕсЂє№╝Ђ
    </p>
    <%= link_to "сЂісЂ┐сЂЈсЂўсѓњт╝ЋсЂЈсѓдсЃЏ№╝Ђ", omikuji_path, class: "inline-block px-6 py-2 bg-green-500 hover:bg-green-600 text-white rounded-xl transition mt-4" %>
  </div>
</div>