@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.omikuji-shake-hover {
  transition: transform 2s;
  transform-origin: bottom center;
}
.omikuji-shake-hover:hover {
  animation: swing-bottom 2s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes swing-bottom {
  0%   { transform: rotate(0deg);}
  10%  { transform: rotate(-10deg);}
  20%  { transform: rotate(10deg);}
  30%  { transform: rotate(-10deg);}
  40%  { transform: rotate(10deg);}
  50%  { transform: rotate(-10deg);}
  60%  { transform: rotate(10deg);}
  70%  { transform: rotate(-10deg);}
  80%  { transform: rotate(10deg);}
  90%  { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}

@keyframes flip-in {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.animate-flip-in {
  animation: flip-in 0.7s ease-out both;
  transform-origin: top;
}

@layer utilities {
  .rainbow-text {
    background-image: linear-gradient(
      to right,
      red,
      deeppink,
      orange,
      gold,
      limegreen,
      deepskyblue,
      blue,
      purple
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
@layer utilities {
  .text-responsive {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }
  .responsive-text {
  font-size: clamp(1rem, 4vw, 2rem);
  }
}